<div fxLayout="row" fxLayoutAlign="space-between">
  <h2 mat-dialog-title class="mat-headline">POS Form</h2>
</div>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
    </formly-form>

    <div fxLayoutAlign="end center" *ngIf="!this.displayMode">
      <button type="submit" color="primary" mat-raised-button [disabled]="form.invalid">Save </button>
      <button type="button" (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
    </div>
  </form>

  <!-- <div style="margin: 20px 0px">
    <app-pos-terminal-brand-list [showAdd]="showAction"></app-pos-terminal-brand-list>
  </div> -->
  <div style="margin-top: 20px;" *ngIf="model['id']">
    <app-pos-terminal-brand-list-modal [showDelete]="showTerminalDelete" [showUpdate]="showTerminalUpdate" [showAdd]="showTerminalAdd"></app-pos-terminal-brand-list-modal>
  </div>
  
  <div style="margin-top: 20px;" *ngIf="showMid">
    <app-mid-list-modal [showAdd]="false" [showUpdate]="false"></app-mid-list-modal>
  </div>
</mat-dialog-content>