<div class="remarks-container">
  <mat-card-title>
      <button mat-mini-fab style="background-color: red">
          <mat-icon style="color:white;">warning</mat-icon>
      </button>
    <b class="mat-headline" style="vertical-align: middle"> Are you sure you want to delete this item? </b>
  </mat-card-title>
</div>
<div style="text-align: right;">
    <button type="button" color="primary" mat-raised-button (click)="submit()">Yes</button>
    <button type="button" color="accent" mat-raised-button (click)="cancel()">No</button>
</div>