.mat-card {
    box-shadow: none !important;
}

.mat-card-bg {
    background-color: #e51c23 !important;
    border-color: #de1b22 !important;
}

.mat-card-title {
    color: rgb(243, 237, 236) !important;
    font-size: medium !important;
}

.mat-card-subtitle {
    color: rgb(252, 247, 247) !important;
}

.xbtn {
    float: right;
}