<div md-dialog-content>
  <div class="mat-subheading-1" style="margin: 0px;"><i class="material-icons icon-color align-middle">history</i>
  History</div>
<!--  
<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Overview">
      <mat-list>
        <mat-list-item *ngFor="let item of history | async">
          <mat-icon mat-list-icon class="icon-color">error</mat-icon>
          <h4 mat-line>{{ item.date | date:'ddMMMyy' }} | {{ item.user }} - &lt;{{item.action}}&gt;</h4>
          <h5 mat-line *ngIf="item.remarks">Remarks: {{ item.remarks }}</h5>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Detailed">
      <ng-template matTabContent>
        <mat-list>
          <mat-list-item *ngFor="let item of historyDetailed | async">
            <mat-icon mat-list-icon class="icon-color">error</mat-icon>
            <h4 mat-line>{{ item.action }} on {{ item.entityName }} with property {{ item.propertyName }} - <span *ngIf="item.oldValue">OLD
                VALUE:
                "{{ item.oldValue }}" |</span> NEW VALUE: "{{ item.newValue }}" </h4>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content> 
-->

  <mat-accordion>
  <mat-expansion-panel (closed)="panelOpenState = false" *ngFor="let item of history | async" (opened)="getDetailed(item.id)">

    <mat-expansion-panel-header>
      <mat-panel-title>
            <h4 mat-line><mat-icon mat-list-icon class="icon-color">error</mat-icon> {{ item.date | date:'ddMMMyy' }} | {{ item.user }} - &lt;{{item.action}}&gt;</h4>
            <h5 mat-line *ngIf="item.remarks">Remarks: {{ item.remarks }}</h5>
            <mat-divider></mat-divider>          
      </mat-panel-title>
    </mat-expansion-panel-header> 
            <div *ngFor="let item2 of historyDetailed | async">
                <h4 mat-line>{{ item2.action }} on {{ item2.entityName }} with property {{ item2.propertyName }} - <span *ngIf="item2.oldValue">OLD
                    VALUE:
                    "{{ item2.oldValue }}" |</span> NEW VALUE: "{{ item2.newValue }}" </h4>   
                <mat-divider></mat-divider>             
            </div>              
  </mat-expansion-panel>
</mat-accordion>  
</div>


