<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit"></app-bdo-form-header>
<app-remarks></app-remarks>
<app-request-header></app-request-header>
<mat-tab-group>
    <mat-tab label="MAR Verification Screen">
        <app-customer-profile [displayMode]="true" [userGroup]="'mqrUser'" (newAffiliationId)="getNewAffiliationId($event)"></app-customer-profile>
        <mat-card>
            <app-approve-with-req-reason-list-mqr></app-approve-with-req-reason-list-mqr>
        </mat-card>
        <mat-card>
            <app-approve-with-except-reason-details-list-mqr></app-approve-with-except-reason-details-list-mqr>
        </mat-card>
        <mat-card>
            <app-mqr-branch-list [displayMode]="false"></app-mqr-branch-list>
        </mat-card>
    </mat-tab>
    <mat-tab label="MAEF">
        <app-maef-form [displayMode]="true"></app-maef-form>
    </mat-tab>
    <mat-tab label="AWR MAEF">
        <ng-template matTabContent>
            <app-awr-maef-form (tabIndex)="getTabIndex($event)"></app-awr-maef-form>
        </ng-template>
    </mat-tab>
    <mat-tab label="Documents">
        <app-document-check-list [newAffiliationId]="newAffiliationId" [displayMode]="true"></app-document-check-list>
    </mat-tab>
</mat-tab-group>