.color-orange {
    color: orange;
}

.m-left-5px {
    margin-left: 5px;
}

.m-top-20px {
    margin-top: 20px;
}

.m-bottom  {
    margin-bottom: 25px !important;
}

.mat-card-accordion {
    padding: 5px !important;
    margin: 2px !important;
}
