<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit" [disabled]="false"></app-bdo-form-header>
<app-request-header></app-request-header>
<span class="mat-headline"> Customer Profile </span>
<app-customer-profile [displayMode]="true" [userGroup]="'psServicing'"></app-customer-profile>
<div class="m-bottom"><span class="mat-headline"> POS </span></div>
<mat-card class="mat-card-accordion">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="color-orange">
                    Test Branch Name
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-pos-form [displayMode]="false" [userGroup]="'psServicing'"></app-pos-form>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>