<div *ngIf="showBranchInfo">
  <div class="flex-branch-list-header">
    <span class="mat-headline">Branch Information</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="mid-form-container">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
    </formly-form>
  </form>
</div>
<div style="margin-top: 20px">
  <app-pos-list [branchId]="branchId" [showAdd]="true" [showDelete]="true" [displayMode]="false" [userGroup]="userGroup"></app-pos-list>
</div>