<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit" [disabled]="false"></app-bdo-form-header>
<div fxLayout="column" style="margin: 0px 10px;">
    <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Reference No: &lt;1201302019&gt;
        </div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex>
            <span class="mat-subheading-1" style="color:#0d47a1"> Date Requested: {{ requestedDate | date: 'ddMMMyy' }}</span>
            <button mat-button (click)="openHistory()" color="primary" class="no-padding history-btn" matTooltip="Show History">
                <i class="material-icons">history</i>
            </button>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Legal Name: &lt;Legal Name&gt;
        </div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            MID Number: &lt;1234567890&gt;
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Business Unit: &lt;Business Unit&gt;
        </div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Sub Unit/Area: &lt;Sub Unit / Area&gt;
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            AO Name: &lt;AO Name&gt;
        </div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Processor: &lt;Processor&gt;
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex class="mat-subheading-1" style="color:#0d47a1">
            Ownership Type: &lt;Ownership Type&gt;
        </div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Customer Profile">
        <app-customer-profile [displayMode]="displayMode" [userGroup]="userGroup"></app-customer-profile>
        <ng-container style="margin: 10px 0px">
            <span class="mat-title">Branch List</span>
        </ng-container>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let items of dataSource | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{items.dbaName}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- DBA Name Ortigas -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <app-branch-form [branchId]="items.id" [displayMode]="displayMode" [userGroup]="userGroup"></app-branch-form>
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="OIF">
                                <app-ocular-inspection-form [branchId]="items.id" [showButton]="false" [userGroup]="userGroup"></app-ocular-inspection-form>
                            </mat-tab>
                            <mat-tab label="POS">
                                <ng-template matTabContent>
                                    <app-pos-list [displayMode]="displayMode" [branchId]="items.id" [showAdd]="false"
                                        [showMid]="false" [showTerminalUpdate]="false" [showTerminalAdd]="false"
                                        [showDelete]="false" [showTerminalDelete]="false"></app-pos-list>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="MID">
                                <ng-template matTabContent>
                                    <app-mid [branchId]="items.id" [showAdd]="false" [showUpdate]="!displayMode"
                                        [showDelete]="false"></app-mid>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="MAEF">
        <ng-template matTabContent>
            <app-maef-form [displayMode]="displayMode"></app-maef-form>
        </ng-template>
    </mat-tab>
    <mat-tab label="Document Checklist">
        <ng-template matTabContent>
            <div style="overflow: hidden; margin-top: 10px">
                <div fxLayoutAlign="space-between">
                    <span class="mat-headline">Document Checklist</span>
                    <a mat-mini-fab (click)="addDocument()">
                        <mat-icon>playlist_add</mat-icon>
                    </a>
                </div>
                <div>
                    <table mat-table [dataSource]="dataSourceDocuments | async" style="width: 100%">
                        <ng-container matColumnDef="documentName">
                            <th mat-header-cell *matHeaderCellDef> Document Name </th>
                            <td mat-cell *matCellDef="let element" style="width: 23%"> {{
                                getDocumentName(element.documentName) }} </td>
                        </ng-container>
                        <ng-container matColumnDef="dmiIndex">
                            <th mat-header-cell *matHeaderCellDef> DMI Index </th>
                            <td mat-cell *matCellDef="let element" style="width: 11%"> {{ element.dmiIndex }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="classification">
                            <th mat-header-cell *matHeaderCellDef> Classification </th>
                            <td mat-cell *matCellDef="let element" style="width: 14%"> {{ element.classification }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="documentStatus">
                            <th mat-header-cell *matHeaderCellDef> Document Status </th>
                            <td mat-cell *matCellDef="let element" style="width: 14%"> {{ element.documentStatus }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dateSubmitted">
                            <th mat-header-cell *matHeaderCellDef> Date Submitted </th>
                            <td mat-cell *matCellDef="let element" style="width: 11%"> {{ element.dateSubmitted | date:
                                'ddMMMyy' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="targetDateOfSubmission">
                            <th mat-header-cell *matHeaderCellDef> Target Date </th>
                            <td mat-cell *matCellDef="let element" style="width: 9%"> {{ element.targetDateOfSubmission
                                }} </td>
                        </ng-container>
                        <ng-container matColumnDef="original">
                            <th mat-header-cell *matHeaderCellDef> Original </th>
                            <td mat-cell *matCellDef="let element" style="width: 9%">
                                <mat-checkbox [checked]="element.original" [disabled]="true"></mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" style="width: 9%">
                                <a (click)="update(element)" mat-mini-fab color="primary" matTooltip="Edit Document">
                                    <mat-icon style="color:white;">edit</mat-icon>
                                </a>
                                <a (click)="delete(element.id)" mat-mini-fab color="primary" matTooltip="Delete Document">
                                    <mat-icon style="color:white;">delete_outline</mat-icon>
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div style="margin: 20px 0px 30px 0px;">
                    <span class="mat-headline">Additional Documents</span>
                    <table mat-table [dataSource]="dataSourceAdditional | async" style="width: 100%">
                        <ng-container matColumnDef="documentName">
                            <th mat-header-cell *matHeaderCellDef> Document Name </th>
                            <td mat-cell *matCellDef="let element" style="width: 23%"> {{
                                getDocumentName(element.documentName) }} </td>
                        </ng-container>
                        <ng-container matColumnDef="dmiIndex">
                            <th mat-header-cell *matHeaderCellDef> DMI Index </th>
                            <td mat-cell *matCellDef="let element" style="width: 11%"> {{ element.dmiIndex }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="classification">
                            <th mat-header-cell *matHeaderCellDef> Classification </th>
                            <td mat-cell *matCellDef="let element" style="width: 14%"> {{ element.classification }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="documentStatus">
                            <th mat-header-cell *matHeaderCellDef> Document Status </th>
                            <td mat-cell *matCellDef="let element" style="width: 14%"> {{ element.documentStatus }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dateSubmitted">
                            <th mat-header-cell *matHeaderCellDef> Date Submitted </th>
                            <td mat-cell *matCellDef="let element" style="width: 11%"> {{ element.dateSubmitted |
                                date: 'ddMMMyy' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="targetDateOfSubmission">
                            <th mat-header-cell *matHeaderCellDef> Target Date </th>
                            <td mat-cell *matCellDef="let element" style="width: 9%"> {{
                                element.targetDateOfSubmission }} </td>
                        </ng-container>
                        <ng-container matColumnDef="original">
                            <th mat-header-cell *matHeaderCellDef> Original </th>
                            <td mat-cell *matCellDef="let element" style="width: 9%">
                                <mat-checkbox [checked]="element.original" [disabled]="true"></mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" style="width: 9%">
                                <a (click)="update(element)" mat-mini-fab color="primary" matTooltip="Edit Document">
                                    <mat-icon style="color:white;">edit</mat-icon>
                                </a>
                                <a (click)="delete(element.id)" mat-mini-fab color="primary" matTooltip="Delete Document">
                                    <mat-icon style="color:white;">delete_outline</mat-icon>
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <div style="text-align: right;">
                <mat-form-field>
                    <mat-select placeholder="Type of Letter">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button matTooltip="Print Letter" color="primary"><mat-icon>print</mat-icon></button>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>