<div fxLayout="row" fxLayoutAlign="space-between">
    <span class="mat-headline">Payment Solution - Servicing</span>
</div>
<div style="text-align: right">
    <mat-form-field style="width: 20%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="FILTER">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<div fxLayout="row">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="ReferenceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference No. </th>
            <td mat-cell *matCellDef="let element"> {{element.referenceNo}} </td>
        </ng-container>
        <ng-container matColumnDef="RequestersName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Requester's Name </th>
            <td mat-cell *matCellDef="let element"> {{element.requestersName}} </td>
        </ng-container>
        <ng-container matColumnDef="RequestType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type </th>
            <td mat-cell *matCellDef="let element"> {{element.requestType}} </td>
        </ng-container>
        <ng-container matColumnDef="DBAName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DBA Name </th>
            <td mat-cell *matCellDef="let element"> {{element.dbaName}} </td>
        </ng-container>
        <ng-container matColumnDef="DateRequested">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Requested </th>
            <td mat-cell *matCellDef="let element"> {{element.dateRequested | date: 'dd MMM yy'}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="NatureOfRequest">
            <th mat-header-cell *matHeaderCellDef> Nature of Request </th>
            <td mat-cell *matCellDef="let element"> {{element.natureOfRequest}} </td>
        </ng-container>
        <ng-container matColumnDef="Operation">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <a (click)="getItem(element.requestId,element.branchId)" matTooltip="View Request" mat-mini-fab color="primary">
                    <mat-icon style="color:white;">edit</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>