<div *ngIf="claims$ | async">
    <div *ngIf="getAccess(claims$.access, 'mauEncoder')">
        <app-mau-encoder-dashboard></app-mau-encoder-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'aoEncoder')">
        <app-ao-encoder-dashboard></app-ao-encoder-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'aoChecker')">
        <app-ao-checker-dashboard></app-ao-checker-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mdcsUser')">
        <app-mdcs-user-dashboard></app-mdcs-user-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'approver')">
        <app-approver-dashboard></app-approver-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mdcsEncoder')">
        <app-mdcs-encoder-dashboard></app-mdcs-encoder-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mdcsChecker')">
        <app-mdcs-checker-dashboard></app-mdcs-checker-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mauOfficer')">
        <app-mau-officer-dashboard></app-mau-officer-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mdmUser')">
        <app-mdm-user-dashboard></app-mdm-user-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'pss')">
        <app-ps-servicing-dashboard></app-ps-servicing-dashboard>
    </div>
    <div *ngIf="getAccess(claims$.access, 'mqrUser')">
        <app-mqr-dashboard></app-mqr-dashboard>
    </div>
</div>